<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Gym</title>
</head>
<body>
    <h1>Create a new gym!</h1>
    <form action="/gyms" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" name="gym[title]" id="title">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" name="gym[location]" id="location">
        </div>
        <div>
            <label for="price">Price</label>
            <input type="text" name="gym[price]" id="price">
        </div>
        <button>Add Gym</button>
    </form>

    <footer>
        <a href="/gyms">All Gyms</a>
    </footer>
</body>
</html>